/*Importações*/
  @import './header.css';
  @import './butons.css';
  /*Fonte*/
   @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/*END Importações*/

/*Reseta*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;

  font-family: "Source Code Pro", system-ui;
}
/*END Reseta*/
.container{
  width: 1024px;
  margin: 30px auto; /*Topo e pé 0 e lados Autos*/
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}